body #content .container  {
	width: 1200px;
	padding-bottom: 30px;
}
body #content .container .visual {
	position: relative;
	margin: 0 auto;
	padding: 30px 0;
}
body #content .container .visual .bxslider li {
	width: 1170px !important;
}
body #content .container .visual .bx-wrapper .bx-controls-direction {
	margin-top: -999999999px;
}
body #content .container .visual .bx-wrapper .bx-controls .bx-pager {
	position: absolute;
	bottom: 123px;
	left: 67px;
	overflow: hidden;
}
body #content .container .visual .bx-wrapper .bx-controls .bx-pager .bx-pager-item {
	display: inline-block;
	margin: 0 3px;
	width: 15px;
	height: 15px;
}
body #content .container .visual .bx-wrapper .bx-controls .bx-pager .bx-pager-item > a {
	display: block;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 50%;
	text-indent: -999em;
}
body #content .container .visual .bx-wrapper .bx-controls .bx-pager .bx-pager-item a {
	display: block;
}
body #content .container .visual .bx-wrapper .bx-controls .bx-pager .bx-pager-item a.active {
	background-color: #fff;
}
body #content .container .news-info #shortcuts {
	position: relative;
	width: 370px;
	height: 180px;
	background: url(/images/main/intro_bg02.jpg) no-repeat 0 0 ; 
}
body #content .container .news-info #shortcuts ul {
	width: 300px; 
	margin: 30px auto 0;
	text-align: center ;
}
body #content .container .news-info #shortcuts ul li a {
	display: inline-block;
	text-align: center;
	font-size: 12px;
	color: #333;
}
body #content .container .news-info #shortcuts ul li span {
	display: block;
	width: 50px;
	height: 50px;
	margin: 0 auto;
}

body #content .container .news-info #shortcuts .bx-wrapper .bx-viewport {
	height: 130px !important;
}
body #content .container .news-info #shortcuts ul .shortcut-1 span {
	background: url(/images/main/shortcut_img01.png) no-repeat 50% 0;
}
body #content .container .news-info #shortcuts ul .shortcut-2 span {
	background: url(/images/main/shortcut_img03.png) no-repeat 50% 0;
}
body #content .container .news-info #shortcuts ul .shortcut-3 span {
	background: url(/images/main/shortcut_img02.png) no-repeat 50% 0;
}
body #content .container .news-info #shortcuts ul .shortcut-4 span {
	background: url(/images/main/shortcut_img04.png) no-repeat 50% 0;
}
body #content .container .news-info #shortcuts ul .shortcut-5 span {
	background: url(/images/main/shortcut_img05.png) no-repeat 50% 0;
}
body #content .container .news-info #shortcuts ul .shortcut-6 span {
	background: url(/images/main/shortcut_img06.png) no-repeat 50% 0;
}
body #content .container .news-info #shortcuts ul .shortcut-7 span {
	background: url(/images/main/shortcut_img07.png) no-repeat 50% 0;
}
body #content .container .news-info #shortcuts ul .shortcut-8 span {
	background: url(/images/main/shortcut_img08.png) no-repeat 50% 0;
}
body #content .container .news-info #shortcuts ul .shortcut-9 span {
	background: url(/images/main/shortcut_img09.png) no-repeat 50% 0;
}
body #content .container .news-info #shortcuts ul .shortcut-10 span {
	background: url(/images/main/shortcut_img10.png) no-repeat 50% 0;
}
body #content .container .news-info #shortcuts ul .shortcut-11 span {
	background: url(/images/main/shortcut_img11.png) no-repeat 50% 0;
}
body #content .container .news-info #shortcuts ul .shortcut-12 span {
	background: url(/images/main/shortcut_img12.png) no-repeat 50% 0;
}
body #content .container .news-info #shortcuts ul .shortcut-13 {
    margin-left: 45px;
}
body #content .container .news-info #shortcuts ul .shortcut-13 span {
	background: url(/images/main/shortcut_img13.png) no-repeat 50% 0;
}
body #content .container .news-info #shortcuts ul .shortcut-14 span {
	background: url(/images/main/shortcut_img14.png) no-repeat 50% 0;
}

body #content .container .news-info #shortcuts .bx-controls .bx-controls-direction .bx-prev {
	position: absolute;
	bottom: 65px;
	left: 23px;
}
body #content .container .news-info #shortcuts .bx-controls .bx-controls-direction .bx-next {
	position: absolute;
	bottom: 65px;
	right: 23px;
}
body #content .container .news-info #shortcuts .bx-controls .bx-controls-direction .glyphicon-menu-left:before {
    color: #283b73;
}
body #content .container .news-info #shortcuts .bx-controls .bx-controls-direction .glyphicon-menu-right:before {
    color: #283b73;
}
body #content .container .news-info {
	overflow: hidden;
}
body #content .container .news-info > div {
	float: left;
	margin-left: 30px;
	width: 370px;
	height: 180px;
}
body #content .container .news-info > div:first-child {
	margin-left: 0;
}
body #content .container .news-info > div h3 {
	font-size: 20px;
	color: #283b73;
	margin: 25px 0 0 30px;
	font-weight: bold;
}
body #content .container .news-info > div h3 small {
	font-size: 13px; 
	color: #666;
	margin-left: 16px;
}
body #content .container .news-info .information {
	position: relative;
	background: url(/images/main/intro_bg01.jpg) no-repeat 0 0 ; 
}
body #content .container .news-info .information p:nth-of-type(1) {
	margin: 20px 0 0 30px;
	font-size: 13px; 
	color: #666;
	line-height: 20px;
	letter-spacing: -1px;
}
body #content .container .news-info .information p:nth-of-type(2) {
	margin: 25px 0 0 30px;
}

body #content .container .news-info .information p:nth-of-type(2) a {
	position: relative;
	font-size: 12px; 
	color: #283b73;
}
body #content .container .news-info .information p:nth-of-type(2) a:after {
	position: absolute;
	top: -6px;
	right: -10px;
	font-size: 10px;
	content: ">";
}
body #content .container .news-info .notice .nav-pills li {
	border-radius: 0;
}
body #content .container .news-info .notice .nav-pills li {
	font-size: 13px;
	border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
}
body #content .container .news-info .notice .nav-pills li:last-child {
	border-right: 1px solid #ccc;
}
body #content .container .news-info .notice .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
	background-color: #283b73;
	border-radius: 0;
	color: #fff;
}
body #content .container .news-info .notice .nav-pills li a {
	background-color: #fff;
	color: #666;
}
body #content .container .news-info .notice .tab-content .tab-pane {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	min-height: 140px;
	background-color: #fff;
	padding: 17px 29px;
}
body #content .container .news-info .notice .tab-content .tab-pane ul li {
	position: relative;
	font-size: 12px;
	letter-spacing: -1px;
	line-height: 20px;
}
body #content .container .news-info .notice .tab-content .tab-pane ul li a {
	color: #666;
	width: 230px;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
body #content .container .news-info .notice .tab-content .tab-pane ul li h4 { 
	font-size: 12px;
	color: #666;
	margin: 0;
	display: inline;
}
body #content .container .news-info .notice .tab-content .tab-pane ul li h4 i { 
	font-size: 12px;
	color: #666;
	font-style: normal;
}
body #content .container .news-info .notice .tab-content .tab-pane ul li h4 i:before { 
	content: "[";
}
body #content .container .news-info .notice .tab-content .tab-pane ul li h4 i:after { 
	content: "] ";
}
body #content .container .news-info .notice .tab-content .tab-pane ul li a span { 
	position: absolute;
	top: 0;
	right: 0;
	color: #666;
	text-decoration: none;
}
